*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #EAC926;
}

h3{
    font-size: 24px;
}

p{
    font-size: 10px;
}
div.top-header{
    padding: 5%; 
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    margin: auto;      
}


header{
    background-color: #EAC926;
    padding: 10px;    
}

.copy-header{
    text-align: center;
}

header div.logo{
    padding: 10px;
    width: 250px;

}
header nav{
    font-size: 17px;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
}

header .form{
    display: flex;    
}


header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}
header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}


header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

.price{
    font-size: 18px;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h3,
.description{
    color: #666;
}

.description{
    visibility: hidden;
    margin-top: 20px; 
}


main .product_img:hover ~ div h4.description{  
    visibility: visible;
    transition-property:  visibility;        
}

main .product_img:hover ~ div i{
    transform: rotate(-90deg)    
}

section.banner img{
    width: 100%;
    margin: auto;
}

main{
    text-align: center;
    width: 90%;
    margin: auto; 
}

main section article{    
    background-color: #faf8f1;    
    margin: auto;
    width: 90%;    
}

main section article img{
    width: 90%;
}

main section article p{
    display: inline-block;
    margin: auto;
}


main section article i,
.discount{
    color: #39b54a;    
}
.price{
    flex-grow: 0.3;
}
.discount{
    flex-grow: 0.7;
}

main section article i{
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: relative;
    bottom: 2em;
    left: 10em;
    transition: 1s all;
    }

main section h3{
    margin: 20px 0px;
}

article div.main-article{
    width: 100%;
    border-top: 1px solid #ebebeb;
    padding: 15px;
}

.main-navbar{
    display: none;
}

.top-header{
    display: flex;
    justify-content: space-between;
}

footer i{
    color: blue;
    font-size: 2em;
    display: contents;
  } 
  
  footer article h3{
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  footer{
    padding-top: 50px;
    background-color: white;
    justify-content: center;
    text-align: center;
    font-size: 1em;
    margin: 0 auto;
    
  }


  form{
	width:90%;
	padding-right: 10%;
	background-color:#ccc;
    justify-content: center;
    align-items: flex-end;
    text-align: left;
    margin: 0 auto;

    /*border: dotted red 5px;*/
     }
    form label{
        font-weight:bold;
        display:inline-flex;
        margin: auto;
        padding-left: 10%;
    }

    h2{
        text-align: center;
    }

    #perfil_usuario,
    #intereses,
    #foto{
        margin-left: 10%;
    }
    
    form input[type="text"],
    form input[type="date"],
    form input[type="password"],
    form input[type="email"]{
        margin: 0 auto;
        width:90%;
        padding: 3px 0%;
        border:1px solid #f6f6f6;
        border-radius:3px;
        background-color:#f6f6f6;
        margin: 0 10%;
        display:flex;
    }
    
    form input[type="submit"]{
        width:100%;
        padding:8px 16px;
        margin-top:32px;
        border:1px solid #000;
        border-radius:5px;
        display:block;
        color:#fff;
        /*background-color:#000;*/
    } 

    form button{        
        background-color: #0044AA;
        padding:3px 10%;
        border-radius: 5px;
        color: #FFF;
        font-size: 20px;
        height: 40px;
        margin-left: 15%;
        text-align: center;
        width:80%;
        display: block;
        text-align: center;
    }

    form button:hover{
        background-color: #0022AA;
    }


@media (min-width: 361px){
    main section article .description{
        display: block;
    }

    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .products{
        display: flex;
        flex-wrap: wrap; 
    }

    main section article{
        width: 40%;
    }
}

@media (min-width: 769px){
    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }        

    .copy-header{
        display: flex;
        max-width: none;       
    }
    .burger-menu{
        display: none;
    }

    .main-navbar{                
        display: flex;
        justify-content: space-between;
        margin: auto;
        font-size: 15px;
    }

    .main-navbar ul, section.banner img{
        display: flex;        
    }
    .left-navbar{
        margin-left: 50px;
    }

    .main-navbar li{
        margin: 0px 10px;
    }

    main section article{
        width: 25%;
    }
    footer{
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    footer .copyright{
        position: relative;
        z-index: 10;
        border: dotted red 5px;
    }
    
}

/*@media (min-width: 1280px){
main, .top-header, .main-navbar, section.banner img{      
        max-width: 1280px;
    }
  
    .main-navbar a{
        font-size: 20px;
    }

    .copy-header{
        display: flex;
        max-width: none;
        font-size: 20px;
        align-items: center;
    }
}

   /*border: dotted red 5px;    */  
